
.idea/.idea.CS2-Load-Remover/.idea/contentModel.xml
.idea/.idea.CS2-Load-Remover/.idea/indexLayout.xml
.idea/.idea.CS2-Load-Remover/.idea/modules.xml
.idea/.idea.CS2-Load-Remover/.idea/vcs.xml
.idea/.idea.CS2-Load-Remover/.idea/workspace.xml
.idea/.idea.CS2-Load-Remover/riderModule.iml
.idea/.idea.CS2-Load-Remover/.idea/codeStyles/codeStyleConfig.xml
.idea/.idea.CS2-Load-Remover/.idea/dictionaries/Julio.xml
.idea/.idea.CS2-Load-Remover/.idea/misc.xml
.idea/.idea.CS2-Load-Remover/.idea/encodings.xml
